{% extends "base.html" %}
{% block content %}

         <h1>Список вопросов</h1>
        {% if tag %}
            <h2 style="margin-left: 10px"> {{ tag }}</h2>
        {%  else %}
            <div class = "sort">
                 <a href="/">дате</a>
                 <a href = "/top">рейтингу</a>
                 <span>Сортировать по:</span>
             </div>
        {%  endif %}
        {% for qs in questions %}
                <div class="block">
                    <img class="avatar" src="/{{ qs.author.avatar.url }}" width="80" height="80"/>
                    <h1><a href="/question/{{ qs.id }}"> {{ qs.title }}</a></h1>
                    <p> {{ qs.text }}</p>
                    <div class="infoline">
                        {% if qs.tags.all.exists %}
                             <div class = "tags_list">Теги:
                                    {% for tag in qs.tags.all %}
                                        <a href="/tag/{{tag.id}}">{{ tag.text }}</a>
                                     {% endfor %}
                             </div>
                        {% endif %}
                        <span class="num_of_answers">Ответов ({{ qs.answers_num }})</span>
                        <span class="author">Автор: <a href="/user/{{ qs.author.user.id }}">{{ qs.author.user.username }}</a></span>
                         <span class="date">{{ qs.added_at }}</span>

                         {% if user.is_authenticated %}
                             <img class = "plus" id="like" src="/plus.png" width="20" height="16" onclick="Rate_question({{ qs.id }}, 1);" />
                             <span class = "number" id="q_rating{{ qs.id }}">{{ qs.rating }}</span>
                             <img class = "minus" id="dislike" src="/minus.png" width="20" height="16" onclick="Rate_question({{ qs.id }}, 0);"/>
                         {% else %}
                             <span class = "number" id="q_rating{{ qs.id }}">Рейтинг: {{ qs.rating }}</span>
                         {% endif %}



                    </div>
                </div>


        {% endfor %}

        {% include "pagination.html" %}


{% endblock %}
