{% extends "base.html" %}
{% block content %}

        <div class="content contentask" style="padding-left: 50px">
            <h1>Редактирование профиля</h1>
            <form action="/profile/" class="form_question" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {%  for field in form.visible_fields %}
                    <span class="error"> {{ field.errors }}</span>
                    <div>
                        <label class = "fieldname" for="{{ field.id_for_label }}"> {{ field.label }} </label>
                        {{ field }}
                    </div>
                {%  endfor %}

               <span class="error">{{ avatar_form.avatar.errors }}</span>
                    {{ avatar_form.avatar }}
                <div>
                    <input class="button" type="submit" style="margin-top: 15px" value="Подтвердить">
                </div>

            </form>
        </div>


{% endblock %}