{% extends "base.html" %}
{% block content %}

            <script language="javascript" src="/correct_answer.js"></script>
            <div class="content ">
                <div class="question_content">
                    <img class="avatar" src="/{{ question.author.avatar }}" width="80" height="80"/>
                    <h1> {{ question.title }}</h1>
                    <p> {{ question.text }}</p>
                    <div class="infoline">
                        {% if question.tags.all.exists %}
                            <div class = "tags_list">Теги:
                                {% for tag in question.tags.all %}
                                      <a href="/tag/{{tag.id}}">{{ tag.text }}</a>
                                {% endfor %}
                             </div>
                        {% endif %}
                        <span class="author">Автор: <a href="/user/{{ question.author.user.id }}">{{ question.author.user.username }}</a></span>
                         <span class="date">{{ question.added_at }}</span>
                        {% if user.is_authenticated %}
                             <img class = "plus" id="like" src="/plus.png" width="20" height="16" onclick="Rate_question({{ question.id }}, 1);" />
                             <span class = "number" id="q_rating{{ question.id }}">{{ question.rating }}</span>
                             <img class = "minus" id="dislike" src="/minus.png" width="20" height="16" onclick="Rate_question({{ question.id }}, 0);"/>
                         {% else %}
                             <span class = "number" id="q_rating{{ question.id }}">Рейтинг: {{ question.rating }}</span>
                         {% endif %}

                    </div>
                </div>


                <h2 style="padding-top: 30px">Ответы ({{ question.answers_num }})</h2>

             {% for answer in answers %}
                <div class="block" {% if answer.is_correct == True %}style="border-color: green; background-color: #bafcb2" {% endif %}>
                    <a name="{{ answer.id }}"></a>
                    <img class="avatar" src="/{{ answer.author.avatar }}" width="80" height="80"/>
                    <p>{{ answer.text }}</p>
                    <div class="clear"></div>
                    <div class="infoline">
                        <span class="author">Автор: <a href="/user/{{ answer.author.user.id }}"> {{ answer.author.user.username }}</a></span>
                        <span class="date"> {{ answer.added_at }}</span>
                        <span class = "checkbox" {%  if request.user != question.author.user  %}hidden="hidden" {% endif %}><input type="checkbox" {% if answer.is_correct %} checked="checked" {% endif %} id="correct{{ answer.id }}" onclick="Correct_answer({{ question.id }}, {{ answer.id }})" >Правильный ответ</span>

                             <span class = "number" id="a_rating{{ answer.id }}">Рейтинг: {{ answer.rating }}</span>

                    </div>
                </div>
            {% endfor %}


            {%  if user.is_authenticated  %}
                 <form name="answer"  method="post">
                     {% csrf_token %}
                     <div class = "block blockanswer">
                       <b style="margin-left:15px">Введите ответ</b>
                          {% if form.errors %}
                                <span class="error" style="margin-top: 10px">Поле обязательно</span>
                         {% endif %}
                         {{ form.text }}
                        <input class="button" type="submit" value="Отправить">
                    </div>
                 </form>
            {% endif %}

            </div>

{% endblock %}